Connect with mysql

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Rrrim12"
)

if mydb.is_connected():
    print("connection established")

:

Creating a Database

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12"
)

mycursor = mydb.cursor()
mycursor.execute("create database pyydb1")

Check if Database Exists

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12"
)

mycursor = mydb.cursor()
mycursor.execute("show databases")

for x in mycursor:
  print(x)

('information_schema',)
('mydb1',)
('mydb2',)
('mydb3',)
('mysql',)
('performance_schema',)
('pyydb',)
('pyydb1',)
('pyydb2',)
('sakila',)
('sys',)
('world',)

Creating a Table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)
mycursor = mydb.cursor()

mycursor.execute(
    "CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

# or Primary Key

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)
mycursor = mydb.cursor()

mycursor.execute(
    "CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

Check if Table Exists

In [ ]:

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

If the table already exists, use the ALTER TABLE keyword

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)
mycursor = mydb.cursor()
mycursor.execute(
    "ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

Python MySQL Insert Into Table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

Insert Multiple Rows

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

if mydb.is_connected():
    print("connection established")

mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'),
    ('Amy', 'Apple st 652'),
    ('Hannah', 'Mountain 21'),
    ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'),
    ('Betty', 'Green Grass 1'),
    ('Richard', 'Sky st 331'),
    ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2'),
    ('Ben', 'Park Lane 38'),
    ('William', 'Central st 954'),
    ('Chuck', 'Main Road 989'),
    ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

connection established
13 was inserted.

Get Inserted ID

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

Python MySQL Select From
We use the fetchall() method, which fetches all rows from the last executed statement.

In [ ]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

Selecting Columns

In [ ]:
mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

Using the fetchone() Method

In [ ]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

Python MySQL Where

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ben', 'Park Lane 38', 11)

Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the %  to represent wildcard characters:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

Prevent SQL Injection 
Escape query values by using the placholder %s method:

In [ ]:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 10)

Python MySQL Order By

In [ ]:
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652', 3)
('Ben', 'Park Lane 38', 11)
('Betty', 'Green Grass 1', 7)
('Chuck', 'Main Road 989', 13)
('Hannah', 'Mountain 21', 4)
('John', 'Highway 21', 1)
('Michael', 'Valley 345', 5)
('Michelle', 'Blue Village', 15)
('Peter', 'Lowstreet 4', 2)
('Richard', 'Sky st 331', 8)
('Sandy', 'Ocean blvd 2', 6)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Viola', 'Sideway 1633', 14)
('William', 'Central st 954', 12)

ORDER BY DESC

In [ ]:
sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954', 12)
('Viola', 'Sideway 1633', 14)
('Vicky', 'Yellow Garden 2', 10)
('Susan', 'One way 98', 9)
('Sandy', 'Ocean blvd 2', 6)
('Richard', 'Sky st 331', 8)
('Peter', 'Lowstreet 4', 2)
('Michelle', 'Blue Village', 15)
('Michael', 'Valley 345', 5)
('John', 'Highway 21', 1)
('Hannah', 'Mountain 21', 4)
('Chuck', 'Main Road 989', 13)
('Betty', 'Green Grass 1', 7)
('Ben', 'Park Lane 38', 11)
('Amy', 'Apple st 652', 3)

Python MySQL Delete From By

In [ ]:
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in delete statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement:

In [ ]:
sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [ ]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

Delete a Table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()
sql = "DROP TABLE customers"

mycursor.execute(sql)

Drop Only if Exist

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()
sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)
mycursor = mydb.cursor()

mycursor.execute(
    "CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

if mydb.is_connected():
    print("connection established")

mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'),
    ('Amy', 'Apple st 652'),
    ('Hannah', 'Mountain 21'),
    ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'),
    ('Betty', 'Green Grass 1'),
    ('Richard', 'Sky st 331'),
    ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2'),
    ('Ben', 'Park Lane 38'),
    ('William', 'Central st 954'),
    ('Chuck', 'Main Road 989'),
    ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

connection established
13 was inserted.

Update Table
You can update existing records in a table by using the "UPDATE" statement:

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Canyon 123')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')
(8, 'Susan', 'One way 98')
(9, 'Vicky', 'Yellow Garden 2')
(10, 'Ben', 'Park Lane 38')
(11, 'William', 'Central st 954')
(12, 'Chuck', 'Main Road 989')
(13, 'Viola', 'Sideway 1633')

Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in update statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the update statement:

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Valley 345')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')
(8, 'Susan', 'One way 98')
(9, 'Vicky', 'Yellow Garden 2')
(10, 'Ben', 'Park Lane 38')
(11, 'William', 'Central st 954')
(12, 'Chuck', 'Main Road 989')
(13, 'Viola', 'Sideway 1633')

Limit the Result
Select the 5 first records in the "customers" table:

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Valley 345')
(5, 'Sandy', 'Ocean blvd 2')

Start From Another Position
If you want to return five records, starting from the third record, you can use the "OFFSET" keyword:
Start from position 3, and return 5 records:

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Valley 345')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')

Join Two or More Tables

In [14]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()

# Create 'users' table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    fav INT
)
""")

# Create 'products' table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS products (
    id INT PRIMARY KEY,
    name VARCHAR(255)
)
""")

# Insert data into 'users' table
users_data = [
    (1, 'John', 154),
    (2, 'Peter', 154),
    (3, 'Amy', 155),
    (4, 'Hannah', None),  # Null for missing values
    (5, 'Michael', None)
]

mycursor.executemany(
    "INSERT INTO users (id, name, fav) VALUES (%s, %s, %s)", users_data)

# Insert data into 'products' table
products_data = [
    (154, 'Chocolate Heaven'),
    (155, 'Tasty Lemons'),
    (156, 'Vanilla Dreams')
]

mycursor.executemany(
    "INSERT INTO products (id, name) VALUES (%s, %s)", products_data)

# Commit changes
mydb.commit()

print("Tables created and data inserted successfully!")

Tables created and data inserted successfully!

You can use JOIN instead of INNER JOIN. They will both give you the same result.

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')

LEFT JOIN
In the example above, Hannah, and Michael were excluded from the result, that is because INNER JOIN only shows the records where there is a match.

If you want to show all users, even if they do not have a favorite product, use the LEFT JOIN statement:
Select all users and their favorite product:

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('Hannah', None)
('Michael', None)

RIGHT JOIN
If you want to return all products, and the users who have them as their favorite, even if no user have them as their favorite, use the RIGHT JOIN statement:
Select all products, and the user(s) who have them as their favorite:

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rrrim12",
    database="pyydb1"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Peter', 'Chocolate Heaven')
('John', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
(None, 'Vanilla Dreams')