Python Sets
Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

In [2]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [6]:
# True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [5]:
# False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'banana', 'apple', 'cherry'}

In [7]:
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [9]:
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [10]:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'abc', 34, True, 40, 'male'}

In [11]:
# What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

The set() Constructor
It is also possible to use the set() constructor to make a set.

In [12]:
thisset = set(("apple", "banana", "cherry"))  # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

Python - Access Set Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [13]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [14]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [15]:
# Check if "banana" is NOT present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

In [16]:
# Python - Add Set Items
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [17]:
# To add items from another set into the current set, use the update() method.
# Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'mango', 'banana', 'pineapple', 'apple', 'cherry'}

Python - Remove Set Items
To remove an item in a set, use the remove(), or the discard() method.

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)
# If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
# If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [20]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)
# Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

apple
{'banana', 'cherry'}

In [21]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [22]:
# The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

Python - Loop Sets

In [23]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [24]:
# The union() method returns a new set with all items from both sets.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'c', 'b'}

In [25]:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 'a', 3, 'c', 'b'}

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 'a', 3, 'Elena', 'c', 'John', 'apple', 'cherry', 'b', 'bananas'}

In [27]:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 | set4
print(myset)

{1, 2, 'a', 3, 'Elena', 'c', 'John', 'apple', 'cherry', 'b', 'bananas'}

In [28]:
# Join a Set and a Tuple
# The union() method allows you to join a set with other data types, like lists or tuples.

# The result will be a set.
# Join a set with a tuple:

x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 'a', 3, 'c', 'b'}

In [31]:
# Update
# The update() method inserts all items from one set into another.

# The update() changes the original set, and does not return a new set.
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

# Both union() and update() will exclude any duplicate items.

{1, 2, 'a', 3, 'c', 'b'}

Intersection
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [33]:
# You can use the & operator instead of the intersection() method, and you will get the same result.
# Use & to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [34]:
# The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

# Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [35]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [36]:
# Difference
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [37]:
# You can use the - operator instead of the difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [38]:
# The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

# Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [39]:
# Symmetric Differences
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'banana', 'google', 'microsoft'}

In [40]:
# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)
#The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

{'cherry', 'banana', 'google', 'microsoft'}

In [41]:
# The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'cherry', 'banana', 'google'}

| Method                     | Shortcut | Description                                                                 |
|----------------------------|----------|-----------------------------------------------------------------------------|
| `add()`                   |          | Adds an element to the set                                                 |
| `clear()`                 |          | Removes all the elements from the set                                      |
| `copy()`                  |          | Returns a copy of the set                                                  |
| `difference()`            | -        | Returns a set containing the difference between two or more sets           |
| `difference_update()`     | `-=`     | Removes the items in this set that are also included in another, specified set |
| `discard()`               |          | Removes the specified item                                                 |
| `intersection()`          | `&`      | Returns a set, that is the intersection of two other sets                  |
| `intersection_update()`   | `&=`     | Removes the items in this set that are not present in other, specified set(s) |
| `isdisjoint()`            |          | Returns whether two sets have an intersection or not                       |
| `issubset()`              | `<=`     | Returns whether another set contains this set or not                       |
|                          | `<`      | Returns whether all items in this set are present in other, specified set(s) |
| `issuperset()`            | `>=`     | Returns whether this set contains another set or not                       |
|                          | `>`      | Returns whether all items in other, specified set(s) are present in this set |
| `pop()`                   |          | Removes an element from the set                                            |
| `remove()`                |          | Removes the specified element                                              |
| `symmetric_difference()`  | `^`      | Returns a set with the symmetric differences of two sets                   |
| `symmetric_difference_update()` | `^=` | Inserts the symmetric differences from this set and another                |
| `union()`                 | `\|`     | Returns a set containing the union of sets                                 |
| `update()`                | `\|=`    | Updates the set with the union of this set and others                      |